<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Agreement</title>

</head>


<body>
	<div th:replace="layout/layout.html :: menu"></div>

	<div class="text1">
		<p>
			<b>1.Your Access to the Services</b><br /> 
			You should definitely be
			a Single Parent to be able to access this app.<br /> Children under
			the age of 13 are not allowed to create an Account or otherwise use
			the Services. Additionally, you must be over the age required by the
			laws of your country to create an account or otherwise use the
			Services.<br /> In addition, certain of our Services or portions of
			our Services require you to be 18 years of age or older, so please
			read all notices and any Additional Terms carefully when you access
			the Services.<br />
		</p>
	</div>
	<div class="text2">
		<p>
			<b>2. Your Use of the Services</b><br /> 
			This App grants you a
			personal, non-transferable, non-exclusive, revocable, limited license
			to use and access the Services solely as permitted by these Terms. We
			reserve all rights not expressly granted to you by these Terms.<br /> 
			Except as permitted through the Services or as otherwise permitted by
			us in writing, your license does not include the right to:<br /> 
			 • license,
			sell, transfer, assign, distribute, host, or otherwise commercially
			exploit the Services or Content;<br />  • We reserve the right to modify,
			suspend, or discontinue the Services (in whole or in part) at any
			time, with or without notice to you. Any future release, update, or
			other addition to functionality of the Services will be subject to
			these Terms, which may be updated from time to time. You agree that
			we will not be liable to you or to any third party for any
			modification, suspension, or discontinuation of the Services or any
			part thereof.<br /> 
		</p>
	</div>

	<div class="text3">
		<p>
			<b>3. Your Account and Account Security</b><br /> To use certain features of
			our Services, you may be required to create an “Account” and provide
			us with a username, password, and certain other information about
			yourself as set forth in the Privacy Policy. <br /> You are solely
			responsible for the information associated with your Account and
			anything that happens related to your Account. You must maintain the
			security of your Account and immediately notify the admin if you
			discover or suspect that someone has accessed your Account without
			your permission. We recommend that you use a strong password that is
			used only with your Account and enable two-factor authentication. You
			will not license, sell, or transfer your Account without our prior
			written approval.<br /> 
		</p>
	</div>

	<div class="text4">
		<p>
			 <b>4. Your Content</b><br /> The Services may contain information, text,
			links, graphics, photos, videos, or other materials (“Content”),
			including Content created or submitted to the Services by you or
			through your Account (“Your Content”). We take no responsibility for
			and we do not expressly or implicitly endorse, support, or guarantee
			the completeness, truthfulness, accuracy, or reliability of any of
			Your Content.<br /> By submitting Your Content to the Services, you
			represent and warrant that you have all rights, power, and authority
			necessary to grant the rights to Your Content contained within these
			Terms. Because you alone are responsible for Your Content, you may
			expose yourself to liability if you post or share Content without all
			necessary rights.<br />
		</p>
	</div>

	<div class="text5">
		<p>
			<b>5. Third-Party Content, Advertisements, and Promotions</b><br /> The
			Services may contain links to third-party websites, products, or
			services, which may be posted by advertisers, our affiliates, our
			partners, or other users (“Third-Party Content”). Third-Party Content
			is not under our control, and we are not responsible for any third
			party’s websites, products, or services. Your use of Third-Party
			Content is at your own risk and you should make any investigation you
			feel necessary before proceeding with any transaction in connection
			with such Third-Party Content.<br /> The Services may also contain
			sponsored Third-Party Content or advertisements. The type, degree,
			and targeting of advertisements are subject to change, and you
			acknowledge and agree that we may place advertisements in connection
			with the display of any Content or information on the Services,
			including Your Content.<br />
		</p>
	</div>

	<div class="text6">
		<p>
			 <b>6. Limitation of Liability</b><br /> IN NO EVENT AND UNDER NO THEORY OF
			LIABILITY, INCLUDING CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY,
			WARRANTY, OR OTHERWISE, WILL THE REDDIT ENTITIES BE LIABLE TO YOU FOR
			ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR
			PUNITIVE DAMAGES, OR LOST PROFITS ARISING FROM OR RELATING TO THESE
			TERMS OR THE SERVICES, INCLUDING THOSE ARISING FROM OR RELATING TO
			CONTENT MADE AVAILABLE ON THE SERVICES THAT IS ALLEGED TO BE
			DEFAMATORY, OFFENSIVE, OR ILLEGAL. ACCESS TO, AND USE OF, THE
			SERVICES IS AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY
			RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE OR COMPUTER SYSTEM, OR LOSS
			OF DATA RESULTING THEREFROM. <br />
		</p>
	</div>

	<div class="text7">
		<p>
			<b>7. Disclaimers</b><br /> THE SERVICES ARE PROVIDED “AS IS” AND “AS
			AVAILABLE” WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED,
			INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY,
			TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
			SINGLEPARENTAPP ENTITIES DO NOT WARRANT THAT THE SERVICES ARE
			ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR FREE. SINGLEPARENTAPP
			DOES NOT CONTROL, ENDORSE, OR TAKE RESPONSIBILITY FOR ANY CONTENT
			AVAILABLE ON OR LINKED TO THE SERVICES OR THE ACTIONS OF ANY THIRD
			PARTY OR USER, INCLUDING MODERATORS. WHILE REDDIT ATTEMPTS TO MAKE
			YOUR ACCESS TO AND USE OF OUR SERVICES SAFE, WE DO NOT REPRESENT OR
			WARRANT THAT OUR SERVICES OR SERVERS ARE FREE OF VIRUSES OR OTHER
			HARMFUL COMPONENTS.<br />
		</p>
	</div>

	<div class="text8">
		<p>
			<b>8. Changes to these Terms</b><br /> We may make changes to these Terms
			from time to time. If we make changes, we will post the revised Terms
			and update the Effective Date above. If the changes, in our sole
			discretion, are material, we may also notify you by sending an email
			to the address associated with your Account (if you have chosen to
			provide an email address) or by otherwise providing notice through
			our Services. By continuing to access or use the Services on or after
			the Effective Date of the revised Terms, you agree to be bound by the
			revised Terms. If you do not agree to the revised Terms, you must
			stop accessing and using our Services before the changes become
			effective.<br />
		</p>
	</div>

	<div class="text9">
		<p>
			<b>9. Termination</b><br /> You may terminate these Terms at any time
			and for any reason by deleting your Account and discontinuing use of
			all Services. If you stop using the Services without deactivating
			your Account, your Account may be deactivated due to prolonged
			inactivity. <br />• We may suspend or terminate your Account, moderator
			status, or ability to access or use the Services at any time for any
			or no reason, including for violating these Terms or our Content
			Policy. <br />• The following sections will survive any termination of
			these Terms or of your Account: 4 (Your Content), 6 (Things You
			Cannot Do), 10 (Indemnity), 11 (Disclaimers), 12 (Limitation of
			Liability), 13 (Governing Law and Venue), 16 (Termination), and 17
			(Miscellaneous).<br />
		</p>
	</div>

	<div class="Privacy">
		<h5>We want you to understand how and why SingleParentCommunity
			collects, uses, and shares information about you when you use our
			sites, mobile apps, widgets, and other online products and services
			(collectively, the "Services") or when you otherwise interact with us
			or receive a communication from us. This Privacy Policy applies to
			all of our Services, which maintains a separate privacy notice that
			incorporates this Privacy Policy by reference.<br /></h5>
	</div>
	<div class="Privacy1">
		<p>
			<b>What We Collect (and How it is Used and Shared)</b><br />
			<br />
		</p>
		<p>
			<b>Information You Provide to Us</b><br /> We collect information you
			provide to us directly when you use the Services. This includes:<br />
			<br />
		</p>
		<p>
			<b>Account information</b><br /> If you create a
			SingleParentCommunity account, we may require you to provide a
			username and password. Your username is public, and it doesn’t have
			to be related to your real name. You may also provide other account
			information, like an email address, bio, or profile picture. We also
			store your user account preferences and settings.<br />
		</p>
		<p>
			<b>Content you submit</b><br /> We collect the content you submit to
			the Services. This includes your posts and comments including saved
			drafts, and your reports and other communications with moderators and
			with us. Your content may include text, links, images, gifs, and
			videos.<br />
		</p>
		<p>
			<b>Actions you take</b><br /> We collect information about the
			actions you take when using the Services. This includes your
			interactions with content, like voting, saving, hiding, and
			reporting. It also includes your interactions with other users, such
			as following, friending, and blocking. We collect your interactions
			with communities, like your subscriptions or moderator status.<br />
		</p>
		<p>
			<b>Transactional information</b><br /> If you purchase products or
			services from us (e.g., SPDA Premium or SPDA Coins), we will collect
			certain information from you, including your name, address, email
			address, and information about the product or service you are
			purchasing. Reddit uses industry-standard payment processor services
			(for example, Stripe) to handle payment information.<br />
		</p>
		<p>
			<b>Other information</b><br /> You may choose to provide other
			information directly to us. For example, we may collect information
			when you fill out a form, participate in SingleParentCommunity
			-sponsored activities or promotions, request customer support, or
			otherwise communicate with us.<br /><br />
		</p>

	</div>
	<div class="text11">
		<p>
			<b>Information We Collect Automatically</b><br /> When you access or
			use our Services, we may also automatically collect information about
			you. This includes:<br />
		</p>
		<p>
			<b>Log and usage data</b><br /> We may log information when you
			access and use the Services. This may include your IP address,
			user-agent string, browser type, operating system, referral URLs,
			device information (e.g., device IDs), device settings, pages
			visited, links clicked, the requested URL, and search terms. Except
			for the IP address used to create your account, SingleParentCommunity
			will delete any IP addresses collected after 100 days.<br />
		</p>
		<p>
			<b>Information collected from cookies and similar technologies</b><br />
			We may receive information from cookies, which are pieces of data
			your browser stores and sends back to us when making requests, and
			similar technologies. We use this information to improve your
			experience, understand user activity, personalize content and
			advertisements, and improve the quality of our Services.<br />
		</p>
		<p>
			<b>Location information</b><br /> We may receive and process
			information about your location. For example, with your consent, we
			may collect information about the specific location of your mobile
			device (for example, by using GPS or Bluetooth). We may also receive
			location information from you when you choose to share such
			information on our Services, including by associating your content
			with a location, or we may derive your approximate location from
			other information about you, including your IP address.<br />
		</p>
		<p>
			<b>Information Collected from Other Sources</b><br /> We may receive
			information about you from other sources, including from other users
			and third parties, and combine that information with the other
			information we have about you. For example, we may receive
			demographic or interest information about you from third parties,
			including advertisers (such as the fact that an advertiser is
			interested in showing you an ad), and combine it with our own data
			using a common account identifier such as a hash of an email address
			or a mobile-device ID. You can control how we use this information to
			personalize the Services for you as described in “Your Choices -
			Controlling Advertising and Analytics” below.<br />
		</p>
		<p>
			<b>Linked services</b><br /> If you authorize or link a third-party
			service (e.g., an unofficial mobile app client) to access your
			SingleParentCommunity account, SingleParentCommunity receives
			information about your use of that service when it uses that
			authorization. Linking services may also cause the other service to
			send us information about your account with that service. <br />
		</p>
		<p>
			<b>Information collected from integrations</b><br /> We also may
			receive information about you, including log and usage data and
			cookie information, from third-party sites that integrate our
			Services, including our embeds and advertising technology. <br /><br /> We
			use information about you to:<br />• Provide, maintain, and improve the
			Services;<br /> • Research and develop new services; <br />• Help protect the
			safety of SingleParentCommunity and our users, which includes
			blocking suspected spammers, addressing abuse, and enforcing the
			SingleParentCommunity User Agreement and our other policies; <br />• Send
			you technical notices, updates, security alerts, invoices, and other
			support and administrative messages; <br />• Provide customer service; <br />•
			Communicate with you about products, services, offers, promotions,
			and events, and provide other news and information we think will be
			of interest to you (for information about how to opt out of these
			communications, see “Your Choices” below); <br />• Monitor and analyze
			trends, usage, and activities in connection with our Services; <br />•
			Measure the effectiveness of ads shown on our Services; and <br />•
			Personalize the Services, and provide and optimize advertisements,
			content, and features that match user profiles or interests.<br />
		</p>
		<p>
			<b>Your Choices</b><br /> You have choices about how to protect and
			limit the collection, use, and sharing of information about you when
			you use the Services. Some of these choices are available to everyone
			who uses SingleParentCommunity, while others only apply if you have a
			SingleParentCommunity account.
		</p>
		<p>
			<b>Accessing and Changing Your Information</b><br /> You can access
			and change certain information through the Services.. You can also
			request a copy of the personal information.
		</p>
		<p>
			<b>Deleting Your Account</b><br /> You may delete your account
			information at any time from the user preferences page. You can also
			submit a request to delete the personal information
			SingleParentCommunity maintains about you by following the process
			described in the “Your Rights - Data Subject and Consumer Information
			Requests” section below. When you delete your account, your profile
			is no longer visible to other users and disassociated from content
			you posted under that account. Please note, however, that the posts,
			comments, you submitted prior to deleting your account will still be
			visible to others unless you first delete the specific content. We
			may also retain certain information about you as required by law or
			for legitimate business purposes after you delete your account.
		</p>
		<p>
			<b>Controlling the Use of Cookies</b><br /> Most web browsers are set
			to accept cookies by default. If you prefer, you can usually choose
			to set your browser to remove or reject first- and third-party
			cookies. Please note that if you choose to remove or reject cookies,
			this could affect the availability and functionality of our
			Services.
		</p>
		<p>
			<b>Controlling Advertising and Analytics</b><br /> Some analytics
			providers we partner with may provide specific opt-out mechanisms and
			we may provide, as needed and as available, additional tools and
			third-party services that allow you to better understand cookies and
			how you can opt out. We also offer you choices about receiving
			personalized advertisements. You can adjust how we personalize
			advertisements for you by visiting your ads preferences in your
			account settings.
		</p>
		<p>
			<b>Do Not Track</b><br /> Most modern web browsers give you the
			option to send a Do Not Track signal to the sites you visit,
			indicating that you do not wish to be tracked. However, there is no
			accepted standard for how a site should respond to this signal, and
			we do not take any action in response to this signal. Instead, in
			addition to publicly available third-party tools, we offer you the
			choices described in this policy to manage the collection and use of
			information about you.
		</p>
		<p>
			<b>Controlling Mobile Notifications</b><br /> With your consent, we
			may send promotional and non-promotional push notifications or alerts
			to your mobile device. You can deactivate these messages at any time
			by changing the notification settings on your mobile device.
		</p>
		<p>
			<b>Controlling Location Information</b><br /> You can control how we
			use location information inferred from your IP address for content
			recommendation purposes via the Safety and Privacy settings on your
			account. If you initially consent to our collection of more precise
			location information from your device, you can subsequently stop the
			collection of this information at any time by changing the
			preferences on your mobile device.<br />
		</p>
		<p>
			<b>Changes to This Policy</b><br /> We may change this Privacy Policy
			from time to time. If we do, we will let you know by revising the
			date at the top of the policy. If the changes, in our sole
			discretion, are material, we may also notify you by sending an email
			to the address associated with your account (if you have chosen to
			provide an email address) or by otherwise providing notice through
			our Services. We encourage you to review the Privacy Policy whenever
			you access or use our Services or otherwise interact with us to stay
			informed about our information practices and the ways you can help
			protect your privacy. By continuing to use our Services after Privacy
			Policy changes go into effect, you agree to be bound by the revised
			policy.
		</p>
	</div>
<table class="w3-table-all"
			style="width: 70%; text-align: center">
			<tr>
				<th style="text-align: center">User Name</th>
				<th style="text-align: center">Registration Date</th>
				
			</tr>

			<tr>
				<td style="text-align: center" th:text="${user.fullName}">Name</td>
				<td style="text-align: center" th:text="${user.regDate}">username</td>	
	
		</table>

	<div th:replace="layout/layout.html :: footer"></div>
	
</body>
</html>