<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Error Page</title>
</head>
<body>
	<div th:replace="layout/layout.html :: menu"></div>
	<h1>Sentimental Analysis Check Completed Successfully</h1>
	<a th:href="@{/getResult}"><button>View Result</button></a>
	<a th:href="@{/}"><button>Back to Home</button></a>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>